<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aiDefaultModel</key>
	<data>
	eyJhcHBsZUludGVsbGlnZW5jZSI6e319
	</data>
	<key>boundAppBundleIDs</key>
	<array>
		<string>com.mitchellh.ghostty</string>
		<string>com.apple.finder</string>
		<string>com.hnc.Discord</string>
		<string>dev.zed.Zed</string>
		<string>ru.keepcoder.Telegram</string>
		<string>notion.id</string>
		<string>com.brave.Browser</string>
	</array>
	<key>boundCustomCommandIDs</key>
	<array/>
	<key>boundCustomWindowSizeIDs</key>
	<array/>
	<key>boundQuickActionIDs</key>
	<array/>
	<key>boundQuicklinkIDs</key>
	<array/>
	<key>boundWindowLayoutIDs</key>
	<array/>
	<key>calendarEnabled</key>
	<true/>
	<key>calendarMenuBarDisplay</key>
	<integer>0</integer>
	<key>clipboardTextSearchEnabled</key>
	<true/>
	<key>compactMode</key>
	<true/>
	<key>emojiSkinTone</key>
	<string>none</string>
	<key>escapeKeyBehavior</key>
	<string>navigateBackOrClose</string>
	<key>extensionsEnabled</key>
	<false/>
	<key>hotkey.app.com.apple.finder</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":3}}}</string>
	<key>hotkey.app.com.brave.Browser</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":11}}}</string>
	<key>hotkey.app.com.hnc.Discord</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":2}}}</string>
	<key>hotkey.app.com.mitchellh.ghostty</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":17}}}</string>
	<key>hotkey.app.dev.zed.Zed</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":35}}}</string>
	<key>hotkey.app.notion.id</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":45}}}</string>
	<key>hotkey.app.ru.keepcoder.Telegram</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":5}}}</string>
	<key>hotkey.command:clipboard-history</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":4}}}</string>
	<key>hotkey.command:search-emoji</key>
	<string>{"combo":{"_0":{"carbonModifiers":4352,"carbonKeyCode":49}}}</string>
	<key>hotkey.command:switch-windows</key>
	<string>{"combo":{"_0":{"carbonModifiers":6912,"carbonKeyCode":1}}}</string>
	<key>hotkey.togglePalette</key>
	<string>{"combo":{"_0":{"carbonModifiers":256,"carbonKeyCode":49}}}</string>
	<key>hotkey.windowCommand.bottom-half</key>
	<string>{"combo":{"_0":{"carbonModifiers":4096,"carbonKeyCode":40}}}</string>
	<key>hotkey.windowCommand.left-half</key>
	<string>{"combo":{"_0":{"carbonKeyCode":4,"carbonModifiers":4096}}}</string>
	<key>hotkey.windowCommand.maximize</key>
	<string>{"combo":{"_0":{"carbonModifiers":4096,"carbonKeyCode":46}}}</string>
	<key>hotkey.windowCommand.right-half</key>
	<string>{"combo":{"_0":{"carbonModifiers":4096,"carbonKeyCode":37}}}</string>
	<key>hotkey.windowCommand.top-half</key>
	<string>{"combo":{"_0":{"carbonModifiers":4096,"carbonKeyCode":38}}}</string>
	<key>hyperKeyIncludesShift</key>
	<true/>
	<key>interfaceSize</key>
	<string>larger</string>
	<key>navigationEnabled</key>
	<true/>
	<key>paletteTransparency</key>
	<integer>50</integer>
	<key>popToRootTimeout</key>
	<integer>0</integer>
	<key>quickActionModel</key>
	<data>
	eyJhcHBsZUludGVsbGlnZW5jZSI6e319
	</data>
	<key>quicklinksEnabled</key>
	<true/>
	<key>showFavoritesInCompactMode</key>
	<true/>
	<key>showInMenuBar</key>
	<false/>
	<key>snippetsEnabled</key>
	<true/>
	<key>windowManagementEnabled</key>
	<true/>
</dict>
</plist>
